

<div class="paymentWindow">

  <div class="selector">
    <select (change)="changeCountry(countryCode.value)" #countryCode>
      <option disabled>Select country</option>
      <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
    </select>
  </div>


  <p *ngIf="!this.paymentMethods" class="error">Payment system do not supported in your country!</p>
  <div *ngIf="this.paymentMethods">
    <div class="grid">
      <div  [ngClass]="{'method' : !(method == selectedMethod), 'selected_border' : method == selectedMethod}" *ngFor="let method of paymentMethods">
        <img [src]="method.img_url" alt="{{method.img_class}}" (click)="chooseMethod(method)">
      </div>
    </div>

    <form ngNativeValidate #payForm="ngForm" *ngIf="selectedMethod" (ngSubmit)="buttonClick(payForm)">

      <label for="name">Cardholder name</label>
      <input type="text" name="name" id="name" ngModel required pattern="[A-Za-z\s]+" (keyup)="cardHolderName(name.value)" #name autocomplete="off">
      <p class="error" *ngIf="wrongName">Cardholder name must contain only latin characters and space between world!</p>

      <label for="cardNumber">Card number</label>
      <input type="number" name="cardNumber" id="cardNumber" required ngModel #cardNumber (keyup)="cardNumberInput(cardNumber.value)">
      <p *ngIf="wrongCardNumber" class="error">Incorrect card number!</p>

      <div class="cvv_exp">
        <div class="expDate_div">
          <label for="month">Month / Year</label>
          <input class="date" type="tel" maxlength="2" minlength="2" name="expDate" id="month" (keyup)="expMonthCheck()" [value]="expMonthValue" [(ngModel)]="expMonthValue" required>
          <span>/</span>
          <input class="date" type="tel" maxlength="2" minlength="2" name="expDate" id="year" (keyup)="expYearCheck()" [value]="expYearValue" [(ngModel)]="expYearValue" required>
        </div>

        <div class="cvv_div">
          <label for="cvv">CVV</label>
          <input type="number" name="cvv" id="cvv" required ngModel [value]="cvvValue" [(ngModel)]="cvvValue" (keyup)="cvvCheck()">
        </div>
      </div>
      <p *ngIf="wrongCVV" class="error">Wrong CVV!</p>
      <p *ngIf="wrongMonthDate" class="error">Month number can be in range from 01 to 12</p>
      <p *ngIf="wrongYearDate" class="error">Year number can be in range from 00 to 99</p>
      <p *ngIf="wrongDate" class="error">Your card has expired!</p>
      <input [disabled]="wrongName || wrongCardNumber || wrongDate || wrongYearDate || wrongMonthDate || wrongCVV" type="submit" class="button" id="submit" value="Pay {{amount}} {{currency}}">
    </form>
  </div>
</div>

<div class="successfullyPayment" *ngIf="successfullyPayment">
  <p>Payment successfully!</p>
</div>

<div class="deniedPayment" *ngIf="deniedPayment">
  <p>Payment denied!</p>
</div>
